<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Students</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students | async">
                    <td>{{student.firstName}}</td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.emailId}}</td>
                    <td><button (click)="deleteStudent(student.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>